/* TODO: Do we want to use a CSS reset to deal with stupid 
   cross browser differences? */
#main {
  width: 800px;
  margin: 150px auto 0 auto;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}

#chat {
  border: 2px solid blue;
  margin-bottom: 10px;
  padding: 5px;
  width: 540px;
  height: 200px;
}

#lobby-players {
    border: 2px solid green;
    width: 220px;
    height: 200px;
    padding: 5px;
    float: right;
}

.lobby-game {
    margin: 5px;
    padding: 5px;
    background-color: #FFEECB;
}

.lobby-playerCount {
    float: right;
}

.lobby-classPreview {
    margin-right: 60px;
}

.lobby-gameName {
    float: left;
    display: inline;
    margin-right: 150px;
}

.lobby-noGames {
    color: red;
    font-size: large;
    text-align: center;
    margin-top: 100px;
}

.lobby-game-mouseOver {
    box-shadow: 5px 5px 2px #888;
}

/* Used as a jquery selector */
.game {
    
}

#game-list {
  border: 2px solid red;
  padding: 5px;
  height: 300px;
  margin-bottom: 10px;
  cursor: default;
}
  
#ktahCanvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

#health-display {
    width: 940px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

.player-stats {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.player-health-num-box {
    border: 1px solid black;
}

.player-healthNum {
    margin-left: 10px;
}

.player-health-bar {
    background-color: green;
    position: absolute;
    z-index: -1;
    display: inline;
}

#round-info {
    border: 2px ridge black;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
}

.round-info-space {
    margin-right: 15px;
}

#testbutton {
  display: inline;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.loginFrame {
  width: 400px;
  padding: 20px;
  margin: 150px auto 0 auto;
  border: 1px solid black;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.registerFrame {
  margin: 0px auto 0 auto;
  background-color: #D8D8D8;
}

#flashMessage {
  color: white;
  margin: 10px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.goodMessage {
  background-color: green;
}

.badMessage {
  background-color: red;
}

#button-upper-right {
    float: right;
    margin: 15px 15px 0px 0px;
}

.framePadding {
    padding: 10px;
}

#navbar {
    text-align: center;
    background-color: #D8D8D8;
    border: 1px double black;
}

.navItem {
    padding: 5px 10px 5px 10px;
    display: inline-block;
}

#room-options {
    margin: 10px 10px 0px 10px;
    padding: 5px;
    background-color: #D8D8D8;
    border: 2px solid black;
}

#game-room-chat {
    margin: 0px 10px 5px 10px;
    padding: 5px;
    border: 2px solid black;
}

.room-player-list {
    margin: 5px 10px 5px 10px;
    background-color: #0C0874;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

.room-player-ready {
    background-color: green;
}

.topMargin {
    margin-top: 10px;
}

.topLeftMargin {
    margin-left: 10px;
    margin-top: 10px;
}

#links {
  width: 760px;
  padding: 20px;
  margin: 150px auto 0 auto;
  border: 1px solid black;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto 0 auto;
  background-color: #D8D8D8;
}

.currentPlayer {
    color: yellow;
}

.currentPlayerNametag {
    font-weight: bold;
    color: #FFC000;
}
