/* TODO: Do we want to use a CSS reset to deal with stupid 
   cross browser differences? */
  
/* GENERAL */

/* This one looks best for big stuff */
@font-face {
    font-family: "MS-Scratch";
    src: url(../assets/fonts/MS-Scratch.ttf);
}
/* This one looks best for small stuff */
@font-face { 
    font-family: "Sketchy";
    src: url(../assets/fonts/Sketchy.ttf);
}

body {
  /* for consistency, only using one font at a time */
  font-family: "Sketchy", "MS-Scratch", "Chalkduster", "Cracked", "Futura", "Georgia", "Skia", Helvetica, serif;
}

#main {
  margin: 150px auto 0 auto;
  overflow: auto;
  padding: 10px 40px;
  background: url(../assets/site-accents/ktah_paper_mid.png) top left repeat-y;
  /*
    Need to work in the following:
    url(../assets/site-accents/ktah_paper_top.png) top left repeat-y;
    url(../assets/site-accents/ktah_paper_bottom.png) top left repeat-y;
  */
  background-size: 100%;
  background-clip: padding-box;
}

.main-frame {
	width: 800px;
}

.title-spacing {
  margin-left: 10px;
}

.main-button {
  width: 200px;
  margin-left: 20px;
}

.minor-button {
  font-size: 16px !important;
  margin-left: 10px;
}

#chat {
  margin: 0px 10px 5px 10px;
  padding: 5px;
  border: 2px solid black;
  height: 100px;
  overflow: auto;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
}

.chat-label {
  margin-right: 10px;
}

.dialog {
  display: none;
}

#testbutton {
  display: inline;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#button-upper-right {
  float: right;
  margin: 15px 15px 0px 0px;
}

.framePadding {
  padding: 10px;
}

#navbar {
  text-align: center;
  background-color: #D8D8D8;
  border: 1px double black;
}

.navItem {
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.topMargin {
  margin-top: 10px;
}

.topLeftMargin {
  margin-left: 10px;
  margin-top: 10px;
}

#links {
  width: 760px;
  padding: 20px;
  margin: 150px auto 0 auto;
  border: 1px solid black;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto 0 auto;
  background-color: #D8D8D8;
}

/* LOGIN / REGISTER */

.login-frame, .register-frame {
  width: 400px;
  text-align: center;
}

.login-page-button {
  width: 150px;
}

#registerButton {
  width: 150px;
  margin-top: 20px;
  font-size: 18px;
}

#flashMessage {
  color: white;
  margin: 10px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.goodMessage {
  background-color: green;
}

.badMessage {
  background-color: red;
}

/* MAIN */

#welcome {
  font-size: 20px;
  text-align: center;
}

#news {
  margin-top: 30px;
  text-align: center;
}

#toolbar {
  margin: 0px 10px 5px 10px;
}

.news-story {
  background: -moz-linear-gradient(top, rgba(196,196,196,1) 0%, rgba(196,196,196,0.43) 57%, rgba(229,229,229,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,1)), color-stop(57%,rgba(196,196,196,0.43)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(196,196,196,0.43) 57%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(196,196,196,1) 0%,rgba(196,196,196,0.43) 57%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
  padding: 10px;
  height: 250px;
  text-align: left;
}

.news-story-content {
  margin-left: 260px;
}

.news-story-title {
  font-size: 30px;
}

.news-story-picture {
  width: 250px;
  height: 250px;
  display: inline-block;
  float: left;
}

.news-story.body {
  
}

/* LOBBY */

#lobby-players {
  border: 2px solid green;
  width: 220px;
  height: 200px;
  padding: 5px;
  float: right;
}

.lobby-game {
  margin: 5px;
  padding: 5px;
  height: 20px;
  background: -moz-linear-gradient(top, rgba(231,234,46,1) 0%, rgba(247,227,46,1) 50%, rgba(242,221,38,1) 51%, rgba(239,212,9,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,234,46,1)), color-stop(50%,rgba(247,227,46,1)), color-stop(51%,rgba(242,221,38,1)), color-stop(100%,rgba(239,212,9,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(231,234,46,1) 0%,rgba(247,227,46,1) 50%,rgba(242,221,38,1) 51%,rgba(239,212,9,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(231,234,46,1) 0%,rgba(247,227,46,1) 50%,rgba(242,221,38,1) 51%,rgba(239,212,9,1) 100%); /* Opera 11.10+ */
}

.lobby-game-mouseOver {
  box-shadow: 5px 5px 2px #888;
}

.lobby-playerCount {
  float: right;
}

.lobby-classPreview {
  float: right;
  margin-right: 50px;
}

.lobby-class-thumbnail {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.lobby-gameName {
  float: left;
  display: inline;
  margin-right: 150px;
}

.lobby-noGames {
  color: red;
  font-size: large;
  text-align: center;
  margin-top: 100px;
}

#game-list {
  border: 2px solid red;
  padding: 5px;
  height: 300px;
  margin: 10px;
  cursor: default;
  background: -moz-linear-gradient(top, rgba(255,211,211,1) 0%, rgba(255,211,211,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,211,211,1)), color-stop(100%,rgba(255,211,211,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,211,211,1) 0%,rgba(255,211,211,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,211,211,1) 0%,rgba(255,211,211,0) 100%); /* Opera 11.10+ */
}

/* GAME ROOM */

#room-options {
  margin: 10px 10px 0px 10px;
}

.class-selection {
  float: right;
}

.class-icon {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.class-option-holder {
  text-align: center;
}

#class-options {
  text-align: center;
  margin: 5px 10px 0 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(244,244,244,0.61) 49%, rgba(216,216,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(49%,rgba(244,244,244,0.61)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(244,244,244,0.61) 49%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(244,244,244,0.61) 49%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
}

.class-thumbnail {
  display: inline-block;
  width: 120px;
  cursor: default;
}

.class-selected {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,255,89,0.78) 48%, rgba(246,255,89,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,255,89,0.78) 48%,rgba(246,255,89,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,255,89,0.78) 48%,rgba(246,255,89,1) 100%); /* Opera 11.10+ */
}

.class-text {
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  color: yellow;
}

.room-player-list {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  padding: 5px;
  height: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
}

.room-player-ready {
  background: -moz-linear-gradient(top, rgba(27,135,43,1) 0%, rgba(35,193,46,1) 50%, rgba(28,178,41,1) 51%, rgba(90,226,97,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,135,43,1)), color-stop(50%,rgba(35,193,46,1)), color-stop(51%,rgba(28,178,41,1)), color-stop(100%,rgba(90,226,97,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(27,135,43,1) 0%,rgba(35,193,46,1) 50%,rgba(28,178,41,1) 51%,rgba(90,226,97,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(27,135,43,1) 0%,rgba(35,193,46,1) 50%,rgba(28,178,41,1) 51%,rgba(90,226,97,1) 100%); /* Opera 11.10+ */
}

/* GAME */

#gameChat {
  width: 980px;
  margin: 0 auto;
}

/* Used as a jquery selector */
.game {
    
}

.loadingScreen {
  font-size: 30px;
  background-color: white;
  position: fixed;
  z-index: 5000;
  padding-top: 50px;
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

#loading-screen-error {
  color: red;
  text-align: center;
  display: none;
}

#round-display {
  float: right;
  margin-right: 20px;
}
  
#ktahCanvas {
  border: 1px solid black;
}
  
#canvasWrapper {
  text-align: center;
  margin: 0 auto;
  cursor: crosshair;
  position: relative;
}

.ingame-noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.top-display {
  width: 940px;
  margin: 0 auto;
}

#game-display {
  height: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  color: gray;
  font-size: 20px;
}

#character-items {
  width: 960px;
  height: 110px;
  margin: 0 auto;
}

.character-resource {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  height: 30px;
  width: 180px;
}

.character-resource-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
}

.character-resource-bar {
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 5px;
  width: 100px;
  height: 20px !important;
}

.character-resource-text {
  display: inline-block;
  margin-left: 5px;
}

.character-expertise {
  display: inline-block;
  float: right;
  margin-top: 5px;
  height: 30px;
  width: 200px;
}

.character-expertise-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: blue;
}

.character-expertise-bar {
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 5px;
  width: 120px;
  height: 20px !important;
}

.character-ability {
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  margin-left: 110px;
  padding: 5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.notification {
  position: absolute;
  color: white;
  text-align: center;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: none;
  left: 50%;
  z-index: 1000;
}

#ability-note {
  border: 1px solid black;
  background-color: red;
  top: 425px;
  width: 200px;
  margin-left: -100px;
}

#round-note {
  font-size: 20px;
  background-color: black;
  font-weight: bold;
  padding: 5px;
  top: 50px;
  width: 400px;
  margin-left: -200px;
}

#health-display {
  height: 40px;
  padding: 10px;
}

.player-stats {
  display: inline-block;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.player-health-num-box {
  border: 1px solid black;
}

.player-healthNum {
  margin-left: 10px;
}

.player-health-bar {
  background: -moz-linear-gradient(top, rgba(49,91,54,1) 0%, rgba(39,206,55,1) 14%, rgba(30,188,72,1) 86%, rgba(27,99,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,91,54,1)), color-stop(14%,rgba(39,206,55,1)), color-stop(86%,rgba(30,188,72,1)), color-stop(100%,rgba(27,99,19,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(49,91,54,1) 0%,rgba(39,206,55,1) 14%,rgba(30,188,72,1) 86%,rgba(27,99,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(49,91,54,1) 0%,rgba(39,206,55,1) 14%,rgba(30,188,72,1) 86%,rgba(27,99,19,1) 100%); /* Opera 11.10+ */
  position: absolute;
  z-index: -1;
  display: inline;
}

.player-class {
  height: 35px;
  width: 35px;
  float: right;
  margin-top: 15px;
  margin-right: -10px;
}

#round-info {
  font-size: 24px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
}

#round-timer {
  float: right;
  width: 300px;
  height: 20px;
  margin-left: 10px;
}

.round-info-space {
  margin-right: 15px;
}

.currentPlayer {
  color: yellow;
}

.currentPlayerNametag {
  font-weight: bold;
  color: #FFC000;
}
