#main.main-frame
  #button-upper-right
    button#main-menu-button.minor-button Main Menu
  h1 About K'tah!
  hr
  #tabs
    ul
      li
        a(href="#general-tab") General Information
      li
        a(href="#controls-tab") Controls
      li
        a(href="#gameplay-tab") Gameplay
      li
        a(href="#account-tab") Account Management
    div#general-tab
      p Information tab placeholder... check back sooooon!
    div#controls-tab
      p Information tab placeholder... check back sooooon!
    div#gameplay-tab
      p Information tab placeholder... check back sooooon!
    div#account-tab
      p Information tab placeholder... check back sooooon!
script(src='../js/display/about-display.js')
