!!! 5
html
  head
    title K'tah
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(type='text/javascript', src='../js/lib/jquery-1.6.4.min.js')
    script(type='text/javascript', src='../js/ktah.js')
    script(type='text/javascript', src='../js/util/include.js')
  body
    h1 K'TAH!
    p you are in a game with id: #{gameId}
    canvas(id='game', width='960', height='480')
      p OH NOES YOU IDIOT GET A REAL BROWSER
    #testbutton Click here!
    script(type='text/javascript')
      $('#testbutton').click(function () {
        $.ajax({
          type: 'POST',
          url: '/game',
          data: JSON.stringify({game: "number", test: 'something'}),
          success: function (data) {
            alert("got something!");
            console.log(JSON.stringify(data));
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          },
          dataType: 'json',
          contentType: 'application/json'
        });
      });