doctype html
html
  head
    title K'tah
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.8.16.custom.css')
    script(src='../js/lib/jquery-1.6.4.min.js')
    script(src='../js/util/include.js')
    script(src='../js/ktah.js')
    script(src='../js/modules/chat/client.js')
  body.ingame-noselect
    div.loadingScreen(id="loadingScreen") Entering K'tah...
      img.ktah-logo(src='../assets/site-accents/ktahLogo.png')
      #loading-screen-error Looks like your browser has crashed or does not have WebGL enabled...
    div(id="end-dialog", class="dialog", title="Game Over...")
      p K'tah has claimed yet another victim...
    input(type='hidden', id='gameId', data="#{gameId}")
    input(type="hidden", id="userName", data="#{userName}")
    div(id="game-display", class="top-display") Game: #{gameId} | 
      a(href="../../lobby") [Return to Lobby]
      #round-timer
      #round-display Round: 0
    hr
    div(id="health-display", class="top-display")
    #canvasWrapper
      #round-note.notification K'tah sleeps... for now...
      #ability-note.notification Ability not available
      canvas(id='ktahCanvas', width='960', height='480')
        p OH NOES YOU IDIOT GET A REAL BROWSER
    #character-items
      #character-resources
      #character-abilities
    #gameChat
      #chat
        #connect
          Chat failed to connect! Infinite Sadness :(
        #loading
          loading
        #log
      #toolbar
        span(class="chat-label") [Enter Message]
        input#entry(tabindex="1", type="text", size="75")
//    audio(controls="controls", autoplay="autoplay", loop="loop")
//      source(src="../assets/music/ktah.mp3")
