h1 K'tah!
#chat
  p chat stuff will go here!
  #connect
    form(action="#")
      fieldset
        label(for="nick")
          Name
        input#nickInput.text(type="text", name="nick", value="")
        input#connectButton.button(type="submit", name="", value="Join")
    #loading
      loading
    #log
    
    #toolbar
      ul#status
        li
          a#usersLink(href="#")
        li
          uptime:
          span#uptime
      input#entry(tabindex="1", type="text")
#game-list
  p list of games will go here!
