#main.main-frame
  #button-upper-right
    input.main-button(type='button', id='create', value='Create a game')
    input.main-button(type='button', id='join', value='Join a game')
    button#menu-button.main-button Main Menu
  h2.title-spacing Lobby
  #game-list
    p Loading game list...
  div(id="waiting-dialogue", class="dialog", title="Please wait...")
    p Joining / Creating game...
  #chat
    #connect
      Chat failed to connect! Infinite Sadness :(
    #loading
      loading
    #log
  #toolbar
    span(class="chat-label") [Enter Message]
    input#entry(tabindex="1", type="text", size="75")
input(type='hidden', id='userName', data='#{userName}')
script(src='../js/modules/chat/client.js')
script(src='../js/display/lobby-display.js')
