#main
  #button-upper-right
    input.main-button(type='button', id='create', value='Create a game')
    input.main-button(type='button', id='join', value='Join a game')
    button#menu-button.main-button Main Menu
  h1.title-spacing K'tah!
  #game-list
    p list of games will go here!
  div(id="waiting-dialogue", title="Please wait...")
    p Joining / Creating game...
  #chat
    #connect
      Chat failed to connect! Infinite Sadness :(
    #loading
      loading
    #log
  #toolbar
    span(class="chat-label") [Enter Message]
    input#entry(tabindex="1", type="text", size="75")
input(type='hidden', id='userName', data='#{userName}')
script(type='text/javascript', src='../js/modules/chat/client.js')
script(type='text/javascript', src='../js/modules/lobby.js')