#main
  h1 K'tah!
  #chat
    p chat stuff will go here!    
  #game-list
    p list of games will go here!
  input(type='button', id='create', value='Create a game')
  input(type='button', id='join', value='Join a game')
  input(type='hidden', id='userName', data="#{userName}")