#main.framePadding
  #button-upper-right
    form(method="POST", action="/main")
      input(type='submit', name="logout", value='Logout')
  h1 K'tah!
  #navbar
    a.navItem(href='../chat/100') Chat-100
    a.navItem(href='../zombieTest') ZombieTest
    a.navItem(href='../lobby') Lobby
  #welcome
    p Welcome back to K'tah, #{user}.