#main.main-frame
  #button-upper-right
    button#logout-button.minor-button Logout
  h1 K'tah!
  hr
  #welcome
    p Welcome back to K'tah, #{user}.
    button#lobby-button.main-button Lobby
    button#account-button.main-button Account
    button#about-button.main-button About K'tah!
  hr
  #news
    div.news-story
      img(class='news-story-picture', src='../assets/site-accents/ktahOST.png')
      div.news-story-content
        div.news-story-title K'tah! Launch Imminent!
        hr
        div.news-story-body Students scramble as the deadline approaches. Story at 11.
script(src='../js/display/main-display.js')
