#main.main-frame
  #button-upper-right
    input(type='submit', id='readyButton', class='minor-button', name='enter', value='Ready!')
  h1.topLeftMargin Game Room: #{gameId}
  div.class-option-holder
    span Choose a class:
    #class-options
      div.class-thumbnail
        img(id="architect", class="class-icon", src="../assets/icons/architectIcon.png")
        div Architect
      div.class-thumbnail
        img(id="herder", class="class-icon", src="../assets/icons/herderIcon.png")
        div Herder
      div.class-thumbnail  
        img(id="pioneer", class="class-icon", src="../assets/icons/pioneerIcon.png")
        div Pioneer
      div.class-thumbnail  
        img(id="chemist", class="class-icon", src="../assets/icons/chemistIcon.png")
        div Scientist
      div.class-thumbnail  
        img(id="tinkerer", class="class-icon", src="../assets/icons/tinkererIcon.png")
        div Tinkerer
  #room-options
    p Loading players...
  #chat
    #connect
      Chat failed to connect! Infinite Sadness :(
    #loading
      loading
    #log
  #toolbar
    span(class="chat-label") [Enter Message]
    input#entry(tabindex="1", type="text", size="75")
  hr
  a(href="/lobby") Back to Lobby
input(type='hidden', id='userName', data="#{userName}")
input(type='hidden', id='gameId', data="#{gameId}")
div(id="alert-popup", class="dialog", title="K'Tah")
script(src='../js/modules/chat/client.js')
script(src='../js/display/game-room-display.js')
