#main.main-frame
  #button-upper-right
    button#lobby-button.minor-button Lobby
  h1.topLeftMargin Score Report: #{gameId}
  hr
  #room-options
    p Loading scores...
  #chat
    #connect
      Chat failed to connect! Infinite Sadness :(
    #loading
      loading
    #log
  #toolbar
    span(class="chat-label") [Enter Message]
    input#entry(tabindex="1", type="text", size="75")
input(type='hidden', id='userName', data="#{userName}")
input(type='hidden', id='gameId', data="#{gameId}")
script
  var data = !{JSON.stringify(score)};
script(src='../js/modules/chat/client.js')
script(src='../js/display/score-screen-display.js')
