#main
  h1.topLeftMargin Score Report: #{gameId}
  #score-report
    p Loading scores...
  #game-room-chat
    p Loading chat...
#links.registerFrame.loginFrame
  a(href="/lobby") Back to Lobby
input(type='hidden', id='userName', data="#{userName}")
input(type='hidden', id='gameId', data="#{gameId}")
input(type='hidden', id='score', data="#{score}")
script(type='text/javascript', src='../js/display/score-screen-display.js')
